#educationBackground {
    background-image: url('../../assests/images/cooltechbg.webp');
    background-size: cover; 
    background-repeat: no-repeat;
    z-index: 0;
}

#education {
    padding: 50px 50px 150px;
    display: flex;
    align-items: center;
    z-index: 1;
    align-items: start;
}
@media screen and (max-width: 680px) {
    #education {
        display: block;
        padding: 0px 0px 50px;

    }
    .certCard {
        width: 300px;
    }
    
}


.certContainer{
 max-width: 1440px;
 width: 100%;
 margin: auto;
 display: flex;
 flex-direction: row;
 justify-content: center;
}

.certCard{
    justify-content: center;
    width: 400px;
    height: 300px;
    margin: auto; 
    text-align: left;
    padding: 10px 0px;
    perspective: 1000px;
}
@media screen and (max-width: 680px) {
    .certCard {
        width: 300px;
    }  
}
.certCard-inner {
    position: relative;
    cursor: pointer;
    background: linear-gradient(#ffffff, #ffffff20);
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;

}

.certCard:hover .certCard-inner{
    transform: rotateY(180deg);
    background-color: transparent;
}
.certCard-front{
    padding: 0px 25px;
}
@media screen and (max-width: 680px) {
    .certCard-front{
        padding: 0px;
    }
    
}

.certCard-front div{
    height: 100%;
    width: 85%;
    padding: 0px 15px;
}

.brdrlft{
    border-left: 1px solid red;
    position: absolute;
    top: 0px;
    left: 25px;
}

.h3title{
    margin-bottom: 0px;
    margin-top: 40px;
}

 .certCard-front, .certCard-back {
    position: absolute;
    width: 107.5%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
     backface-visibility: hidden; 
 }
  
.brdrbtm{
    border-bottom: 1px solid blue;
    width: 110%;
    margin-left: -68px;

}
@media screen and (max-width: 680px) {
    .brdrbtm{
        width: 118%;
    } 
}
.brdrbtm-height {    
    height: 15px;
}
.brdrbtm span{
    padding-left: 35px;
}
@media screen and (max-width: 680px) {
    .brdrbtm span{
        padding-left: 35px;
    }
}

.certCard-back {
    transform: rotateY(180deg);
    width: 100%;
    height: 100%;
}

#aws {
    background-image: url('../../assests/images/AWScloudpractitioner.webp');
    height: 300px;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;

}
#projectPlus {
    background-image: url('../../assests/images/project+.webp');
    height: 300px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#itilFour{
    background-image: url('../../assests/images/itil4.webp');
    height: 300px;    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}