/* header */
.header-container{
    width: 100%;
    height: 90px;
    display: flex;
    color: #ffffff;
    background-color: #10111150;
  }
  
  .header-content{
    max-width: 1200px;
    width: 90%;
    padding: 20px;
    margin: auto;
    display: flex;
    justify-content: space-around;
  }
  @media screen and (max-width: 680px){
        .header-container{
          font-size: small;
        }
  }
  .header-content a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
  }