
@import 'react-multi-carousel/lib/styles.css';


@font-face {
  font-family: slabo;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/slabo13px/v15/11hEGp_azEvXZUdSBzzRQK6h2jkY.woff2) format('woff2');
  }

  @font-face {
    font-family: Noto;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/notosansdisplay/v26/RLpbK4fy6r6tOBEJg0IAKzqdFZVZxpMkXJMhnB9XjO1o90LuV-PT4Doq_AKp_3cKZTua2xHr.woff2) format('woff2');
  }
body {
  background-color: #1f283310;
   font-family: slabo;
  letter-spacing: .075rem;
}
main {
  min-height: 100vh;

}
.overlay{
  z-index: 1;
  background-color: #00000090;
  height: inherit;
  width: inherit;
}


#projects a{
  color: #36454f;
  text-decoration: underline;
}
/* COLUMNS */
/* 1 column layout */
.col1{
  width: 100%;
  display: flex;
  flex-direction: column;
}
/* 2 even column layout */
.col2{
  width: 50%;
  display: flex;
  flex-direction: column;
}
.col3{
  width: 33.7%;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 680px) {
  .col3{
    width: 100%;
  }
}
.codeImg {
  width: 700px;
  height: 500px;
  object-fit: contain;
}
@media screen and (max-width: 680px) {
  .codeImg{
    height: fit-content;
    width: 375px;
  }
}
.col2-3{
  width: 66.3%;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 680px) {
  .col2-3{
    width: 100%;
  }
}
@media screen and (max-width: 680px) {
  .col2 {
    width: 100% !important;
  } 
}

/* global headings */
h1 {
  font-family: Noto;
  color: #66fcf1;
  font-size: 2.75rem;
  font-weight: 700;
}
@media screen and (max-width: 680px) {
  h1{
    margin-top: 0px;

  }
}
h2 {
  font-family: Noto;
  color: #61afef;
  font-size: 2rem;
  font-weight: 600;
}

h3, h4, h5, h6 {
  font-family: Noto;
  font-size: 1.5rem;
  color: #36454f;
  font-weight: normal;
}
@media screen and (max-width: 680px) {
  h3, h4, h5, h6 {
    font-size: 1.25rem;
  }
}

p {
  color: #36454f;
  font-weight: 700;
  font-size: medium;
  margin: 25px;
}
/* global containers */
.container {
  max-width: 1440px;
  margin: auto;
  display: flex;
  width: 80%;
}
@media screen and (max-width: 680px) {
  .container{
    display: inline;
  }
}
/* shorthands */
.center-items{
  align-items: center;
  display: grid;
}
.text-center{
  text-align: center;
}


.no-margin{
  margin: 0px;
}
.m-auto{
  margin: auto;
}

.row{
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
}
@media screen and (max-width: 680px) {
  .row{
    display: block;
  }
}
/* global heros  */
.hero{
  width: 100%;
  height: 400px;
 }
 @media screen and (max-width: 680px) {
   .hero {
    height: 350px;
   }
 }

 .heroContainer{
  max-width: 1440px;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
 }
 @media screen and (max-width: 680px) {
  .heroContainer{
    display: block;
  }
}

 #homeHero{
  background-image: url("./assests/images/cooltechbg.webp");
  background-size: cover;
 }
