@import 'react-multi-carousel/lib/styles.css';


.carouselWrapper{
    background: #00000050;
    padding: 20px;
}

.title{
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    background-color: #efefef50;
    padding: 25px 0px;
}