.footer-container{
    width: 100vw;
    height: 100px;
    display: flex;
    color: azure;
    background-color: #45A29e;
    /* position: absolute;
    bottom: 0px;
    left: 0px; */
  }
  @media screen and (max-width: 1024px){
    .footer-container{
      height: 75px;
      position: absolute;
    }
  }
  
  .footer-content{
    max-width: 1200px;
    width: 90%;
    padding: 20px;
    margin: auto;
  }

@media screen and (max-width: 1024px){
 #links{
  display: flex;
 }
}

.list-none{
  list-style: none;
}
.list-none li{
  margin: 15px 0px;
  padding: 0px;
}

a{
  color: azure;
  text-decoration: none;
  text-transform: uppercase;
}