.footer-container{
    width: 100vw;
    height: 250px;
    display: flex;
    color: azure;
    background-color: #45A29e;
  }
  
  .footer-content{
    max-width: 1200px;
    width: 90%;
    padding: 20px;
    margin: auto;
  }

.list-none{
  list-style: none;
}
.list-none li{
  margin: 15px 0px;
  padding: 0px;
}

a{
  color: azure;
  text-decoration: none;
  text-transform: uppercase;
}