
.innerContent{
    padding: 50px 0px;
}
.col2{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.col2 img{
    height: 250px;
    width: 250px;
    margin: auto;
    min-width: 250px;
    border-radius: 75%;

}
#home {
    color: azure;
}

.background-color{
    background-color: ;
}
