
.homeHeroContainer{
    margin: auto;
    display: grid;
    height: 35vh;
    align-items: center;
   }
   @media screen and (max-width: 1024px) {
    .homeHeroContainer{
        height: 20vh;
        display: block;
       }
   }

.home-font p{
    color:azure
}
.gradientBG{
    padding: 25px;
    background-color: #45A29e;
    background-image: linear-gradient(to top, #45a29e, #39748a, #3d485e, #2b242d);
}
@media screen and (max-width: 1024px) {
    .gradientBG{
        text-align: center;
    }
   }

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
    min-width: 100%; 
    min-height: 100%;
  }

#slide {
    position: relative;
    left: -100%;
    -webkit-animation: slide .25s forwards;
    -webkit-animation-delay: 1s;
    animation: slide 0.25s forwards;
    animation-delay: 1s;
}

@-webkit-keyframes slide {
    100% { left: 10%; }
}

@keyframes slide {
    100% { left: 10%; }
}
@media  screen and (max-width: 1040px;) {
    @-webkit-keyframes slide {
        100% { left: 0; }
    }
    
    @keyframes slide {
        100% { left: 0; }
    }
    
}