
.homeHeroContainer{
    margin: auto;
    display: grid;
    height: 80vh;
    align-items: center;
   }
   @media screen and (max-width: 1024px) {
    .homeHeroContainer{
        display: block;
       }
   }

.home-font p{
    color:azure
}
.gradientBG{
    position: relative;
    bottom: -80px;
    padding-top: 25px;
    background-color: #45A29e;
    background-image: linear-gradient(to top, #45a29e, #39748a, #3d485e, #2b242d);
    padding-bottom: 25px;
}
@media screen and (max-width: 1024px) {
    .gradientBG{
        bottom: -25px;
        text-align: center;
    }
   }

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
    min-width: 100%; 
    min-height: 100%;
  }
#slide {
    position: relative;
    left: -100%;
    -webkit-animation: slide 0.25s forwards;
    -webkit-animation-delay: 1s;
    animation: slide 0.25s forwards;
    animation-delay: 1s;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}