#projectsBackground{
    background-image: url('../../assets/images/codeprojects.webp');
    background-size: cover; 
    background-repeat: no-repeat;
}

#projects{
    padding: 1rem;
    align-items: center;
    z-index: 1;
    display: block;
}
 #projects h1 {
    text-align: center;
 }

.iFrameSandbox{
    width: 95%; 
    height: 500px; 
    border: 0; 
    border-radius: 6px; 
    overflow: hidden;
}